SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Asia/Dhaka
DEFAULT_CURRENCY=BDT

# Production only
# DATABASE_URL=postgres://user:password@host:5432/nexpense
# DB_SSL_REQUIRE=True
# SECURE_SSL_REDIRECT=True
# CSRF_TRUSTED_ORIGINS=https://najmulislam.dev
# EMAIL_HOST=
# EMAIL_PORT=587
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=no-reply@najmulislam.dev
